@charset "UTF-8";
div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #000000;
}

@-webkit-keyframes last {
  0% {
    left: 0px;
    top: 65px;
    -webkit-transform: rotate(-39deg);
            transform: rotate(-39deg);
  }
  50% {
    top: -15px;
  }
  100% {
    -webkit-transform: rotate(39deg);
            transform: rotate(39deg);
    left: 420px;
    top: 70px;
  }
}

@keyframes last {
  0% {
    left: 0px;
    top: 65px;
    -webkit-transform: rotate(-39deg);
            transform: rotate(-39deg);
  }
  50% {
    top: -15px;
  }
  100% {
    -webkit-transform: rotate(39deg);
            transform: rotate(39deg);
    left: 420px;
    top: 70px;
  }
}

.poker {
  position: absolute;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  border-radius: 4px;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
  width: 80px;
  height: 130px;
}

.poker.poker--back {
  background-image: url("./img/img_poker_back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.poker.is-hide {
  opacity: 0;
  pointer-events: none;
}

.poker.poker-1 {
  -webkit-transform: rotate(-39deg);
          transform: rotate(-39deg);
  left: 0px;
  top: 70px;
}

.poker.poker-1:hover {
  left: -15px;
  top: 50px;
}

.poker.poker-2 {
  -webkit-transform: rotate(-36deg);
          transform: rotate(-36deg);
  left: 20px;
  top: 55px;
}

.poker.poker-2:hover {
  left: 5px;
  top: 35px;
}

.poker.poker-3 {
  -webkit-transform: rotate(-32deg);
          transform: rotate(-32deg);
  left: 40px;
  top: 45px;
}

.poker.poker-3:hover {
  left: 27px;
  top: 25px;
}

.poker.poker-4 {
  -webkit-transform: rotate(-28deg);
          transform: rotate(-28deg);
  left: 60px;
  top: 35px;
}

.poker.poker-4:hover {
  left: 50px;
  top: 15px;
}

.poker.poker-5 {
  -webkit-transform: rotate(-24deg);
          transform: rotate(-24deg);
  left: 80px;
  top: 25px;
}

.poker.poker-5:hover {
  left: 70px;
  top: 5px;
}

.poker.poker-6 {
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  left: 100px;
  top: 20px;
}

.poker.poker-6:hover {
  left: 90px;
  top: 0px;
}

.poker.poker-7 {
  -webkit-transform: rotate(-16deg);
          transform: rotate(-16deg);
  left: 120px;
  top: 15px;
}

.poker.poker-7:hover {
  left: 113px;
  top: -5px;
}

.poker.poker-8 {
  -webkit-transform: rotate(-12deg);
          transform: rotate(-12deg);
  left: 140px;
  top: 10px;
}

.poker.poker-8:hover {
  left: 133px;
  top: -10px;
}

.poker.poker-9 {
  -webkit-transform: rotate(-8deg);
          transform: rotate(-8deg);
  left: 160px;
  top: 6px;
}

.poker.poker-9:hover {
  left: 153px;
  top: -14px;
}

.poker.poker-10 {
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
  left: 180px;
  top: 5px;
}

.poker.poker-10:hover {
  left: 173px;
  top: -15px;
}

.poker.poker-11 {
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
  left: 200px;
  top: 3px;
}

.poker.poker-11:hover {
  left: 200px;
  top: -17px;
}

.poker.poker-12 {
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
  left: 220px;
  top: 3px;
}

.poker.poker-12:hover {
  left: 220px;
  top: -17px;
}

.poker.poker-13 {
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
  left: 240px;
  top: 5px;
}

.poker.poker-13:hover {
  left: 240px;
  top: -15px;
}

.poker.poker-14 {
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
  left: 260px;
  top: 6px;
}

.poker.poker-14:hover {
  left: 263px;
  top: -14px;
}

.poker.poker-15 {
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
  left: 280px;
  top: 10px;
}

.poker.poker-15:hover {
  left: 283px;
  top: -10px;
}

.poker.poker-16 {
  -webkit-transform: rotate(16deg);
          transform: rotate(16deg);
  left: 300px;
  top: 15px;
}

.poker.poker-16:hover {
  left: 303px;
  top: -5px;
}

.poker.poker-17 {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  left: 320px;
  top: 20px;
}

.poker.poker-17:hover {
  left: 323px;
  top: 0px;
}

.poker.poker-18 {
  -webkit-transform: rotate(24deg);
          transform: rotate(24deg);
  left: 340px;
  top: 25px;
}

.poker.poker-18:hover {
  left: 347px;
  top: 5px;
}

.poker.poker-19 {
  -webkit-transform: rotate(28deg);
          transform: rotate(28deg);
  left: 360px;
  top: 35px;
}

.poker.poker-19:hover {
  left: 367px;
  top: 15px;
}

.poker.poker-20 {
  -webkit-transform: rotate(32deg);
          transform: rotate(32deg);
  left: 380px;
  top: 45px;
}

.poker.poker-20:hover {
  left: 390px;
  top: 25px;
}

.poker.poker-21 {
  -webkit-transform: rotate(36deg);
          transform: rotate(36deg);
  left: 400px;
  top: 55px;
}

.poker.poker-21:hover {
  left: 410px;
  top: 35px;
}

.poker.poker-22 {
  -webkit-transform: rotate(39deg);
          transform: rotate(39deg);
  left: 420px;
  top: 70px;
}

.poker.poker-22:hover {
  left: 430px;
  top: 55px;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@-webkit-keyframes box-shadow-breathing {
  0% {
    -webkit-box-shadow: 0px 0px 16px #c66fcb;
            box-shadow: 0px 0px 16px #c66fcb;
  }
  50% {
    -webkit-box-shadow: 0px 0px 18px #f7b90c;
            box-shadow: 0px 0px 18px #f7b90c;
  }
  100% {
    -webkit-box-shadow: 0px 0px 16px #c66fcb;
            box-shadow: 0px 0px 16px #c66fcb;
  }
}

@keyframes box-shadow-breathing {
  0% {
    -webkit-box-shadow: 0px 0px 16px #c66fcb;
            box-shadow: 0px 0px 16px #c66fcb;
  }
  50% {
    -webkit-box-shadow: 0px 0px 18px #f7b90c;
            box-shadow: 0px 0px 18px #f7b90c;
  }
  100% {
    -webkit-box-shadow: 0px 0px 16px #c66fcb;
            box-shadow: 0px 0px 16px #c66fcb;
  }
}

@-webkit-keyframes rule-appear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes rule-appear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes rule-appear-reverse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  99% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    display: none;
  }
}

@keyframes rule-appear-reverse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  99% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    display: none;
  }
}

@-webkit-keyframes angel-waving {
  0% {
    background-image: url("./img/img_angel.png");
  }
  50% {
    background-image: url("./img/img_angel_move.png");
  }
  100% {
    background-image: url("./img/img_angel.png");
  }
}

@keyframes angel-waving {
  0% {
    background-image: url("./img/img_angel.png");
  }
  50% {
    background-image: url("./img/img_angel_move.png");
  }
  100% {
    background-image: url("./img/img_angel.png");
  }
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.wrapper {
  width: 100%;
}

.tarot-start {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
  background-color: #000;
}

.tarot-start.is-hide {
  display: none;
}

.tarot-banner {
  background-image: url("./img/img_tarot_banner.jpg");
  width: 278px;
  height: 55px;
  margin-bottom: 10px;
}

.btn-start {
  display: block;
  background-image: url("./img/img_start.jpg");
  width: 224px;
  height: 51px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.btn-start:hover {
  background-image: url("./img/img_start_h.jpg");
}

.tarotView {
  position: relative;
  background-image: url("./img/bg_content.jpg");
  width: 740px;
  height: 530px;
  padding: 50px 0 0 50px;
  opacity: 0;
  -webkit-transition: opacity .6s ease;
  transition: opacity .6s ease;
  background-size: contain;
  background-repeat: no-repeat;
}

.tarotView.is-show {
  opacity: 1;
}

.tarotView-tool {
  position: absolute;
  right: 60px;
  bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tool-item {
  width: 45px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.tool-item.item--instruction {
  background-image: url("./img/ico_instruction.png");
}

.tool-item.item--instruction:hover {
  background-image: url("./img/ico_instruction_h.png");
}

.tool-item.item--instruction::before {
  content: '牌陣解說';
  display: block;
  width: 70px;
  color: #787474;
  margin-left: -60px;
  margin-top: 6px;
  font-family: cursive;
  font-size: 15px;
}

.tool-item.item--fb {
  width: 70px;
  height: 20px;
}

.angel {
  position: absolute;
  right: 29px;
  top: 87px;
  opacity: 0;
  width: 330px;
  height: 380px;
  background-image: url("./img/img_angel.png");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 1.3s ease;
  transition: opacity 1.3s ease;
  animation-dealy: 1.8s;
}

.angel.is-show {
  -webkit-animation: angel-waving 4s infinite;
          animation: angel-waving 4s infinite;
  opacity: 0.5;
}

.tarot-rule {
  width: 418px;
  height: 256px;
  background-image: url("./img/bg_play_rule.png");
  -webkit-animation: rule-appear 1.5s ease forwards;
          animation: rule-appear 1.5s ease forwards;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  z-index: 1;
}

.tarot-rule.is-hide {
  -webkit-animation: rule-appear-reverse 1s ease;
          animation: rule-appear-reverse 1s ease;
  z-index: 0;
}

.tarot-instruction {
  position: absolute;
  width: 426px;
  height: 289px;
  background-image: url("./img/img_instruction.png");
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  bottom: 0;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  z-index: 3;
  -webkit-transition: opacity .5s ease, -webkit-transform .6s ease;
  transition: opacity .5s ease, -webkit-transform .6s ease;
  transition: transform .6s ease, opacity .5s ease;
  transition: transform .6s ease, opacity .5s ease, -webkit-transform .6s ease;
}

.tarot-instruction.is-show {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  cursor: pointer;
}

.pokerWrap {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.pokerWrap.is-hide {
  -webkit-animation: fade-out .5s .3s forwards linear;
          animation: fade-out .5s .3s forwards linear;
}

.fivePokersWrap {
  position: relative;
  -webkit-transform: scale(0.68);
          transform: scale(0.68);
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
  -webkit-transition: -webkit-transform 1.2s ease;
  transition: -webkit-transform 1.2s ease;
  transition: transform 1.2s ease;
  transition: transform 1.2s ease, -webkit-transform 1.2s ease;
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.fivePokersWrap::before {
  content: '';
  opacity: 0;
  -webkit-transition: opacity 1.2s ease;
  transition: opacity 1.2s ease;
  -webkit-transition-delay: 2.2s;
          transition-delay: 2.2s;
}

.fivePokersWrap.is-scale {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.fivePokersWrap.is-scale::before {
  opacity: 1;
  position: absolute;
  left: -17%;
  top: -12%;
  content: '';
  background-image: url("./img/img_circles.png");
  width: 531px;
  height: 531px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation: rotation 60s linear infinite;
          animation: rotation 60s linear infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  opacity: 0.25;
}

.fivePokersWrap.is-scale .fivePokers {
  pointer-events: visible;
}

.fivePokers-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.fivePokers-flip {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: -webkit-transform 2s ease;
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.fivePokers {
  position: relative;
  margin: 10px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  width: 80px;
  height: 130px;
  pointer-events: none;
}

.fivePokers.is-flip .fivePokers-flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.is-scale .fivePokers.is-highlight {
  -webkit-animation: box-shadow-breathing 2s ease infinite;
          animation: box-shadow-breathing 2s ease infinite;
}

.fivePokers-front,
.fivePokers-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.fivePokers-front {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  background: linear-gradient(150deg, #866534, #6b5041, #866a47);
  border: 0.5px solid #614c41;
}

.fivePokers-front.is-down {
  -webkit-transform: rotateY(-180deg) rotate(180deg);
          transform: rotateY(-180deg) rotate(180deg);
}

.fivePokers-img {
  display: block;
  width: 80%;
  height: 80%;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: .9;
}

.fivePokers-img.is-down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.fivePokers-img.img-0 {
  background-image: url("./img/img_tarot_0.jpg");
}

.fivePokers-img.img-1 {
  background-image: url("./img/img_tarot_1.jpg");
}

.fivePokers-img.img-2 {
  background-image: url("./img/img_tarot_2.jpg");
}

.fivePokers-img.img-3 {
  background-image: url("./img/img_tarot_3.jpg");
}

.fivePokers-img.img-4 {
  background-image: url("./img/img_tarot_4.jpg");
}

.fivePokers-img.img-5 {
  background-image: url("./img/img_tarot_5.jpg");
}

.fivePokers-img.img-6 {
  background-image: url("./img/img_tarot_6.jpg");
}

.fivePokers-img.img-7 {
  background-image: url("./img/img_tarot_7.jpg");
}

.fivePokers-img.img-8 {
  background-image: url("./img/img_tarot_8.jpg");
}

.fivePokers-img.img-9 {
  background-image: url("./img/img_tarot_9.jpg");
}

.fivePokers-img.img-10 {
  background-image: url("./img/img_tarot_10.jpg");
}

.fivePokers-img.img-11 {
  background-image: url("./img/img_tarot_11.jpg");
}

.fivePokers-img.img-12 {
  background-image: url("./img/img_tarot_12.jpg");
}

.fivePokers-img.img-13 {
  background-image: url("./img/img_tarot_13.jpg");
}

.fivePokers-img.img-14 {
  background-image: url("./img/img_tarot_14.jpg");
}

.fivePokers-img.img-15 {
  background-image: url("./img/img_tarot_15.jpg");
}

.fivePokers-img.img-16 {
  background-image: url("./img/img_tarot_16.jpg");
}

.fivePokers-img.img-17 {
  background-image: url("./img/img_tarot_17.jpg");
}

.fivePokers-img.img-18 {
  background-image: url("./img/img_tarot_18.jpg");
}

.fivePokers-img.img-19 {
  background-image: url("./img/img_tarot_19.jpg");
}

.fivePokers-img.img-20 {
  background-image: url("./img/img_tarot_20.jpg");
}

.fivePokers-img.img-21 {
  background-image: url("./img/img_tarot_21.jpg");
}

.fivePokers-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 80%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 4px auto;
  border: 0.5px solid #422d18;
  opacity: .9;
}

.fivePokers-roman,
.fivePokers-name {
  font-family: cursive;
  font-size: 12px;
  color: #c8c8c8;
  text-align: center;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  line-height: 12px;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.fivePokers-roman {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.fivePokers-name {
  -webkit-box-flex: 3;
      -ms-flex: 3 0 auto;
          flex: 3 0 auto;
  letter-spacing: 2px;
}

.tarotDesc {
  position: absolute;
  z-index: 2;
  top: 80px;
  left: 80px;
}

.tarotDesc-view {
  position: absolute;
  width: 560px;
  height: 365px;
  background-color: transparent;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: opacity .6s ease, -webkit-transform .6s ease;
  transition: opacity .6s ease, -webkit-transform .6s ease;
  transition: transform .6s ease, opacity .6s ease;
  transition: transform .6s ease, opacity .6s ease, -webkit-transform .6s ease;
  background-size: 100% 100%;
  cursor: pointer;
  background-image: url("./img/bg_view.png");
  background-repeat: no-repeat;
  padding: 40px 20px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.tarotDesc-view.is-open {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.tarotDesc-row {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.tarotDesc-img {
  width: 100%;
  height: 100%;
  background-size: contain;
}

.tarotDesc-enName {
  font-size: 12px;
  padding: 6px 0;
  text-align: center;
  font-family: fantasy;
  opacity: .7;
  font-weight: bold;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  white-space: nowrap;
}

@media screen and (min-width: 681px) {
  .tarotDesc-enName {
    font-size: 16px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.tarotDesc-title {
  text-align: center;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 10px;
  font-family: cursive;
  opacity: .8;
  font-weight: 300;
}

.tarotDesc-roman {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.tarotDesc-name {
  -webkit-box-flex: 2;
      -ms-flex: 2 0 auto;
          flex: 2 0 auto;
  letter-spacing: 4px;
}

.tarotDesc-side {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 20px;
  color: #6f1d1d;
}

.tarotDesc-meaning {
  width: 230px;
  height: 65px;
  background-size: cover;
}

.tarotDesc-meaning.meaning--0 {
  background-image: url("./img/meaning/img_meaning_0.png");
}

.tarotDesc-meaning.meaning--1 {
  background-image: url("./img/meaning/img_meaning_1.png");
}

.tarotDesc-meaning.meaning--2 {
  background-image: url("./img/meaning/img_meaning_2.png");
}

.tarotDesc-meaning.meaning--3 {
  background-image: url("./img/meaning/img_meaning_3.png");
}

.tarotDesc-meaning.meaning--4 {
  background-image: url("./img/meaning/img_meaning_4.png");
}

.tarotDesc-meaning.meaning--5 {
  background-image: url("./img/meaning/img_meaning_5.png");
}

.tarotDesc-meaning.meaning--6 {
  background-image: url("./img/meaning/img_meaning_6.png");
}

.tarotDesc-meaning.meaning--7 {
  background-image: url("./img/meaning/img_meaning_7.png");
}

.tarotDesc-meaning.meaning--8 {
  background-image: url("./img/meaning/img_meaning_8.png");
}

.tarotDesc-meaning.meaning--9 {
  background-image: url("./img/meaning/img_meaning_9.png");
}

.tarotDesc-meaning.meaning--10 {
  background-image: url("./img/meaning/img_meaning_10.png");
}

.tarotDesc-meaning.meaning--11 {
  background-image: url("./img/meaning/img_meaning_11.png");
}

.tarotDesc-meaning.meaning--12 {
  background-image: url("./img/meaning/img_meaning_12.png");
}

.tarotDesc-meaning.meaning--13 {
  background-image: url("./img/meaning/img_meaning_13.png");
}

.tarotDesc-meaning.meaning--14 {
  background-image: url("./img/meaning/img_meaning_14.png");
}

.tarotDesc-meaning.meaning--15 {
  background-image: url("./img/meaning/img_meaning_15.png");
}

.tarotDesc-meaning.meaning--16 {
  background-image: url("./img/meaning/img_meaning_16.png");
}

.tarotDesc-meaning.meaning--17 {
  background-image: url("./img/meaning/img_meaning_17.png");
}

.tarotDesc-meaning.meaning--18 {
  background-image: url("./img/meaning/img_meaning_18.png");
}

.tarotDesc-meaning.meaning--19 {
  background-image: url("./img/meaning/img_meaning_19.png");
}

.tarotDesc-meaning.meaning--20 {
  background-image: url("./img/meaning/img_meaning_20.png");
}

.tarotDesc-meaning.meaning--21 {
  background-image: url("./img/meaning/img_meaning_21.png");
}

.tarotDesc-span {
  font-size: 20px;
  margin-bottom: 10px;
  padding-left: 6px;
  font-family: cursive;
  opacity: .57;
}

.tarotDesc-translation {
  width: 240px;
  min-height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 6px;
}

.tarotDesc-translation.translation--000 {
  background-image: url("./img/define/000.png");
}

.tarotDesc-translation.translation--001 {
  background-image: url("./img/define/001.png");
}

.tarotDesc-translation.translation--010 {
  background-image: url("./img/define/010.png");
}

.tarotDesc-translation.translation--011 {
  background-image: url("./img/define/011.png");
}

.tarotDesc-translation.translation--020 {
  background-image: url("./img/define/020.png");
}

.tarotDesc-translation.translation--021 {
  background-image: url("./img/define/021.png");
}

.tarotDesc-translation.translation--030 {
  background-image: url("./img/define/030.png");
}

.tarotDesc-translation.translation--031 {
  background-image: url("./img/define/031.png");
}

.tarotDesc-translation.translation--040 {
  background-image: url("./img/define/040.png");
}

.tarotDesc-translation.translation--041 {
  background-image: url("./img/define/041.png");
}

.tarotDesc-translation.translation--050 {
  background-image: url("./img/define/050.png");
}

.tarotDesc-translation.translation--051 {
  background-image: url("./img/define/051.png");
}

.tarotDesc-translation.translation--060 {
  background-image: url("./img/define/060.png");
}

.tarotDesc-translation.translation--061 {
  background-image: url("./img/define/061.png");
}

.tarotDesc-translation.translation--070 {
  background-image: url("./img/define/070.png");
}

.tarotDesc-translation.translation--071 {
  background-image: url("./img/define/071.png");
}

.tarotDesc-translation.translation--080 {
  background-image: url("./img/define/080.png");
}

.tarotDesc-translation.translation--081 {
  background-image: url("./img/define/081.png");
}

.tarotDesc-translation.translation--090 {
  background-image: url("./img/define/090.png");
}

.tarotDesc-translation.translation--091 {
  background-image: url("./img/define/091.png");
}

.tarotDesc-translation.translation--0100 {
  background-image: url("./img/define/0100.png");
}

.tarotDesc-translation.translation--0101 {
  background-image: url("./img/define/0101.png");
}

.tarotDesc-translation.translation--0110 {
  background-image: url("./img/define/0110.png");
}

.tarotDesc-translation.translation--0111 {
  background-image: url("./img/define/0111.png");
}

.tarotDesc-translation.translation--0120 {
  background-image: url("./img/define/0120.png");
}

.tarotDesc-translation.translation--0121 {
  background-image: url("./img/define/0121.png");
}

.tarotDesc-translation.translation--0130 {
  background-image: url("./img/define/0130.png");
}

.tarotDesc-translation.translation--0131 {
  background-image: url("./img/define/0131.png");
}

.tarotDesc-translation.translation--0140 {
  background-image: url("./img/define/0140.png");
}

.tarotDesc-translation.translation--0141 {
  background-image: url("./img/define/0141.png");
}

.tarotDesc-translation.translation--0150 {
  background-image: url("./img/define/0150.png");
}

.tarotDesc-translation.translation--0151 {
  background-image: url("./img/define/0151.png");
}

.tarotDesc-translation.translation--0160 {
  background-image: url("./img/define/0160.png");
}

.tarotDesc-translation.translation--0161 {
  background-image: url("./img/define/0161.png");
}

.tarotDesc-translation.translation--0170 {
  background-image: url("./img/define/0170.png");
}

.tarotDesc-translation.translation--0171 {
  background-image: url("./img/define/0171.png");
}

.tarotDesc-translation.translation--0180 {
  background-image: url("./img/define/0180.png");
}

.tarotDesc-translation.translation--0181 {
  background-image: url("./img/define/0181.png");
}

.tarotDesc-translation.translation--0190 {
  background-image: url("./img/define/0190.png");
}

.tarotDesc-translation.translation--0191 {
  background-image: url("./img/define/0191.png");
}

.tarotDesc-translation.translation--0200 {
  background-image: url("./img/define/0200.png");
}

.tarotDesc-translation.translation--0201 {
  background-image: url("./img/define/0201.png");
}

.tarotDesc-translation.translation--0210 {
  background-image: url("./img/define/0210.png");
}

.tarotDesc-translation.translation--0211 {
  background-image: url("./img/define/0211.png");
}

.tarotDesc-translation.translation--100 {
  background-image: url("./img/define/100.png");
}

.tarotDesc-translation.translation--101 {
  background-image: url("./img/define/101.png");
}

.tarotDesc-translation.translation--110 {
  background-image: url("./img/define/110.png");
}

.tarotDesc-translation.translation--111 {
  background-image: url("./img/define/111.png");
}

.tarotDesc-translation.translation--120 {
  background-image: url("./img/define/120.png");
}

.tarotDesc-translation.translation--121 {
  background-image: url("./img/define/121.png");
}

.tarotDesc-translation.translation--130 {
  background-image: url("./img/define/130.png");
}

.tarotDesc-translation.translation--131 {
  background-image: url("./img/define/131.png");
}

.tarotDesc-translation.translation--140 {
  background-image: url("./img/define/140.png");
}

.tarotDesc-translation.translation--141 {
  background-image: url("./img/define/141.png");
}

.tarotDesc-translation.translation--150 {
  background-image: url("./img/define/150.png");
}

.tarotDesc-translation.translation--151 {
  background-image: url("./img/define/151.png");
}

.tarotDesc-translation.translation--160 {
  background-image: url("./img/define/160.png");
}

.tarotDesc-translation.translation--161 {
  background-image: url("./img/define/161.png");
}

.tarotDesc-translation.translation--170 {
  background-image: url("./img/define/170.png");
}

.tarotDesc-translation.translation--171 {
  background-image: url("./img/define/171.png");
}

.tarotDesc-translation.translation--180 {
  background-image: url("./img/define/180.png");
}

.tarotDesc-translation.translation--181 {
  background-image: url("./img/define/181.png");
}

.tarotDesc-translation.translation--190 {
  background-image: url("./img/define/190.png");
}

.tarotDesc-translation.translation--191 {
  background-image: url("./img/define/191.png");
}

.tarotDesc-translation.translation--1100 {
  background-image: url("./img/define/1100.png");
}

.tarotDesc-translation.translation--1101 {
  background-image: url("./img/define/1101.png");
}

.tarotDesc-translation.translation--1110 {
  background-image: url("./img/define/1110.png");
}

.tarotDesc-translation.translation--1111 {
  background-image: url("./img/define/1111.png");
}

.tarotDesc-translation.translation--1120 {
  background-image: url("./img/define/1120.png");
}

.tarotDesc-translation.translation--1121 {
  background-image: url("./img/define/1121.png");
}

.tarotDesc-translation.translation--1130 {
  background-image: url("./img/define/1130.png");
}

.tarotDesc-translation.translation--1131 {
  background-image: url("./img/define/1131.png");
}

.tarotDesc-translation.translation--1140 {
  background-image: url("./img/define/1140.png");
}

.tarotDesc-translation.translation--1141 {
  background-image: url("./img/define/1141.png");
}

.tarotDesc-translation.translation--1150 {
  background-image: url("./img/define/1150.png");
}

.tarotDesc-translation.translation--1151 {
  background-image: url("./img/define/1151.png");
}

.tarotDesc-translation.translation--1160 {
  background-image: url("./img/define/1160.png");
}

.tarotDesc-translation.translation--1161 {
  background-image: url("./img/define/1161.png");
}

.tarotDesc-translation.translation--1170 {
  background-image: url("./img/define/1170.png");
}

.tarotDesc-translation.translation--1171 {
  background-image: url("./img/define/1171.png");
}

.tarotDesc-translation.translation--1180 {
  background-image: url("./img/define/1180.png");
}

.tarotDesc-translation.translation--1181 {
  background-image: url("./img/define/1181.png");
}

.tarotDesc-translation.translation--1190 {
  background-image: url("./img/define/1190.png");
}

.tarotDesc-translation.translation--1191 {
  background-image: url("./img/define/1191.png");
}

.tarotDesc-translation.translation--1200 {
  background-image: url("./img/define/1200.png");
}

.tarotDesc-translation.translation--1201 {
  background-image: url("./img/define/1201.png");
}

.tarotDesc-translation.translation--1210 {
  background-image: url("./img/define/1210.png");
}

.tarotDesc-translation.translation--1211 {
  background-image: url("./img/define/1211.png");
}

.tarotDesc-translation.translation--200 {
  background-image: url("./img/define/200.png");
}

.tarotDesc-translation.translation--201 {
  background-image: url("./img/define/201.png");
}

.tarotDesc-translation.translation--210 {
  background-image: url("./img/define/210.png");
}

.tarotDesc-translation.translation--211 {
  background-image: url("./img/define/211.png");
}

.tarotDesc-translation.translation--220 {
  background-image: url("./img/define/220.png");
}

.tarotDesc-translation.translation--221 {
  background-image: url("./img/define/221.png");
}

.tarotDesc-translation.translation--230 {
  background-image: url("./img/define/230.png");
}

.tarotDesc-translation.translation--231 {
  background-image: url("./img/define/231.png");
}

.tarotDesc-translation.translation--240 {
  background-image: url("./img/define/240.png");
}

.tarotDesc-translation.translation--241 {
  background-image: url("./img/define/241.png");
}

.tarotDesc-translation.translation--250 {
  background-image: url("./img/define/250.png");
}

.tarotDesc-translation.translation--251 {
  background-image: url("./img/define/251.png");
}

.tarotDesc-translation.translation--260 {
  background-image: url("./img/define/260.png");
}

.tarotDesc-translation.translation--261 {
  background-image: url("./img/define/261.png");
}

.tarotDesc-translation.translation--270 {
  background-image: url("./img/define/270.png");
}

.tarotDesc-translation.translation--271 {
  background-image: url("./img/define/271.png");
}

.tarotDesc-translation.translation--280 {
  background-image: url("./img/define/280.png");
}

.tarotDesc-translation.translation--281 {
  background-image: url("./img/define/281.png");
}

.tarotDesc-translation.translation--290 {
  background-image: url("./img/define/290.png");
}

.tarotDesc-translation.translation--291 {
  background-image: url("./img/define/291.png");
}

.tarotDesc-translation.translation--2100 {
  background-image: url("./img/define/2100.png");
}

.tarotDesc-translation.translation--2101 {
  background-image: url("./img/define/2101.png");
}

.tarotDesc-translation.translation--2110 {
  background-image: url("./img/define/2110.png");
}

.tarotDesc-translation.translation--2111 {
  background-image: url("./img/define/2111.png");
}

.tarotDesc-translation.translation--2120 {
  background-image: url("./img/define/2120.png");
}

.tarotDesc-translation.translation--2121 {
  background-image: url("./img/define/2121.png");
}

.tarotDesc-translation.translation--2130 {
  background-image: url("./img/define/2130.png");
}

.tarotDesc-translation.translation--2131 {
  background-image: url("./img/define/2131.png");
}

.tarotDesc-translation.translation--2140 {
  background-image: url("./img/define/2140.png");
}

.tarotDesc-translation.translation--2141 {
  background-image: url("./img/define/2141.png");
}

.tarotDesc-translation.translation--2150 {
  background-image: url("./img/define/2150.png");
}

.tarotDesc-translation.translation--2151 {
  background-image: url("./img/define/2151.png");
}

.tarotDesc-translation.translation--2160 {
  background-image: url("./img/define/2160.png");
}

.tarotDesc-translation.translation--2161 {
  background-image: url("./img/define/2161.png");
}

.tarotDesc-translation.translation--2170 {
  background-image: url("./img/define/2170.png");
}

.tarotDesc-translation.translation--2171 {
  background-image: url("./img/define/2171.png");
}

.tarotDesc-translation.translation--2180 {
  background-image: url("./img/define/2180.png");
}

.tarotDesc-translation.translation--2181 {
  background-image: url("./img/define/2181.png");
}

.tarotDesc-translation.translation--2190 {
  background-image: url("./img/define/2190.png");
}

.tarotDesc-translation.translation--2191 {
  background-image: url("./img/define/2191.png");
}

.tarotDesc-translation.translation--2200 {
  background-image: url("./img/define/2200.png");
}

.tarotDesc-translation.translation--2201 {
  background-image: url("./img/define/2201.png");
}

.tarotDesc-translation.translation--2210 {
  background-image: url("./img/define/2210.png");
}

.tarotDesc-translation.translation--2211 {
  background-image: url("./img/define/2211.png");
}

.tarotDesc-translation.translation--300 {
  background-image: url("./img/define/300.png");
}

.tarotDesc-translation.translation--301 {
  background-image: url("./img/define/301.png");
}

.tarotDesc-translation.translation--310 {
  background-image: url("./img/define/310.png");
}

.tarotDesc-translation.translation--311 {
  background-image: url("./img/define/311.png");
}

.tarotDesc-translation.translation--320 {
  background-image: url("./img/define/320.png");
}

.tarotDesc-translation.translation--321 {
  background-image: url("./img/define/321.png");
}

.tarotDesc-translation.translation--330 {
  background-image: url("./img/define/330.png");
}

.tarotDesc-translation.translation--331 {
  background-image: url("./img/define/331.png");
}

.tarotDesc-translation.translation--340 {
  background-image: url("./img/define/340.png");
}

.tarotDesc-translation.translation--341 {
  background-image: url("./img/define/341.png");
}

.tarotDesc-translation.translation--350 {
  background-image: url("./img/define/350.png");
}

.tarotDesc-translation.translation--351 {
  background-image: url("./img/define/351.png");
}

.tarotDesc-translation.translation--360 {
  background-image: url("./img/define/360.png");
}

.tarotDesc-translation.translation--361 {
  background-image: url("./img/define/361.png");
}

.tarotDesc-translation.translation--370 {
  background-image: url("./img/define/370.png");
}

.tarotDesc-translation.translation--371 {
  background-image: url("./img/define/371.png");
}

.tarotDesc-translation.translation--380 {
  background-image: url("./img/define/380.png");
}

.tarotDesc-translation.translation--381 {
  background-image: url("./img/define/381.png");
}

.tarotDesc-translation.translation--390 {
  background-image: url("./img/define/390.png");
}

.tarotDesc-translation.translation--391 {
  background-image: url("./img/define/391.png");
}

.tarotDesc-translation.translation--3100 {
  background-image: url("./img/define/3100.png");
}

.tarotDesc-translation.translation--3101 {
  background-image: url("./img/define/3101.png");
}

.tarotDesc-translation.translation--3110 {
  background-image: url("./img/define/3110.png");
}

.tarotDesc-translation.translation--3111 {
  background-image: url("./img/define/3111.png");
}

.tarotDesc-translation.translation--3120 {
  background-image: url("./img/define/3120.png");
}

.tarotDesc-translation.translation--3121 {
  background-image: url("./img/define/3121.png");
}

.tarotDesc-translation.translation--3130 {
  background-image: url("./img/define/3130.png");
}

.tarotDesc-translation.translation--3131 {
  background-image: url("./img/define/3131.png");
}

.tarotDesc-translation.translation--3140 {
  background-image: url("./img/define/3140.png");
}

.tarotDesc-translation.translation--3141 {
  background-image: url("./img/define/3141.png");
}

.tarotDesc-translation.translation--3150 {
  background-image: url("./img/define/3150.png");
}

.tarotDesc-translation.translation--3151 {
  background-image: url("./img/define/3151.png");
}

.tarotDesc-translation.translation--3160 {
  background-image: url("./img/define/3160.png");
}

.tarotDesc-translation.translation--3161 {
  background-image: url("./img/define/3161.png");
}

.tarotDesc-translation.translation--3170 {
  background-image: url("./img/define/3170.png");
}

.tarotDesc-translation.translation--3171 {
  background-image: url("./img/define/3171.png");
}

.tarotDesc-translation.translation--3180 {
  background-image: url("./img/define/3180.png");
}

.tarotDesc-translation.translation--3181 {
  background-image: url("./img/define/3181.png");
}

.tarotDesc-translation.translation--3190 {
  background-image: url("./img/define/3190.png");
}

.tarotDesc-translation.translation--3191 {
  background-image: url("./img/define/3191.png");
}

.tarotDesc-translation.translation--3200 {
  background-image: url("./img/define/3200.png");
}

.tarotDesc-translation.translation--3201 {
  background-image: url("./img/define/3201.png");
}

.tarotDesc-translation.translation--3210 {
  background-image: url("./img/define/3210.png");
}

.tarotDesc-translation.translation--3211 {
  background-image: url("./img/define/3211.png");
}

.tarotDesc-translation.translation--400 {
  background-image: url("./img/define/400.png");
}

.tarotDesc-translation.translation--401 {
  background-image: url("./img/define/401.png");
}

.tarotDesc-translation.translation--410 {
  background-image: url("./img/define/410.png");
}

.tarotDesc-translation.translation--411 {
  background-image: url("./img/define/411.png");
}

.tarotDesc-translation.translation--420 {
  background-image: url("./img/define/420.png");
}

.tarotDesc-translation.translation--421 {
  background-image: url("./img/define/421.png");
}

.tarotDesc-translation.translation--430 {
  background-image: url("./img/define/430.png");
}

.tarotDesc-translation.translation--431 {
  background-image: url("./img/define/431.png");
}

.tarotDesc-translation.translation--440 {
  background-image: url("./img/define/440.png");
}

.tarotDesc-translation.translation--441 {
  background-image: url("./img/define/441.png");
}

.tarotDesc-translation.translation--450 {
  background-image: url("./img/define/450.png");
}

.tarotDesc-translation.translation--451 {
  background-image: url("./img/define/451.png");
}

.tarotDesc-translation.translation--460 {
  background-image: url("./img/define/460.png");
}

.tarotDesc-translation.translation--461 {
  background-image: url("./img/define/461.png");
}

.tarotDesc-translation.translation--470 {
  background-image: url("./img/define/470.png");
}

.tarotDesc-translation.translation--471 {
  background-image: url("./img/define/471.png");
}

.tarotDesc-translation.translation--480 {
  background-image: url("./img/define/480.png");
}

.tarotDesc-translation.translation--481 {
  background-image: url("./img/define/481.png");
}

.tarotDesc-translation.translation--490 {
  background-image: url("./img/define/490.png");
}

.tarotDesc-translation.translation--491 {
  background-image: url("./img/define/491.png");
}

.tarotDesc-translation.translation--4100 {
  background-image: url("./img/define/4100.png");
}

.tarotDesc-translation.translation--4101 {
  background-image: url("./img/define/4101.png");
}

.tarotDesc-translation.translation--4110 {
  background-image: url("./img/define/4110.png");
}

.tarotDesc-translation.translation--4111 {
  background-image: url("./img/define/4111.png");
}

.tarotDesc-translation.translation--4120 {
  background-image: url("./img/define/4120.png");
}

.tarotDesc-translation.translation--4121 {
  background-image: url("./img/define/4121.png");
}

.tarotDesc-translation.translation--4130 {
  background-image: url("./img/define/4130.png");
}

.tarotDesc-translation.translation--4131 {
  background-image: url("./img/define/4131.png");
}

.tarotDesc-translation.translation--4140 {
  background-image: url("./img/define/4140.png");
}

.tarotDesc-translation.translation--4141 {
  background-image: url("./img/define/4141.png");
}

.tarotDesc-translation.translation--4150 {
  background-image: url("./img/define/4150.png");
}

.tarotDesc-translation.translation--4151 {
  background-image: url("./img/define/4151.png");
}

.tarotDesc-translation.translation--4160 {
  background-image: url("./img/define/4160.png");
}

.tarotDesc-translation.translation--4161 {
  background-image: url("./img/define/4161.png");
}

.tarotDesc-translation.translation--4170 {
  background-image: url("./img/define/4170.png");
}

.tarotDesc-translation.translation--4171 {
  background-image: url("./img/define/4171.png");
}

.tarotDesc-translation.translation--4180 {
  background-image: url("./img/define/4180.png");
}

.tarotDesc-translation.translation--4181 {
  background-image: url("./img/define/4181.png");
}

.tarotDesc-translation.translation--4190 {
  background-image: url("./img/define/4190.png");
}

.tarotDesc-translation.translation--4191 {
  background-image: url("./img/define/4191.png");
}

.tarotDesc-translation.translation--4200 {
  background-image: url("./img/define/4200.png");
}

.tarotDesc-translation.translation--4201 {
  background-image: url("./img/define/4201.png");
}

.tarotDesc-translation.translation--4210 {
  background-image: url("./img/define/4210.png");
}

.tarotDesc-translation.translation--4211 {
  background-image: url("./img/define/4211.png");
}

.tarot-playAgain {
  opacity: 0;
  position: absolute;
  left: 70px;
  right: 0;
  bottom: 32px;
  margin: auto;
  width: 96px;
  height: 25px;
  background-image: url("./img/img_playAgain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;
  -webkit-transition: opacity 1.5s ease;
  transition: opacity 1.5s ease;
}

.tarot-playAgain:hover {
  background-image: url("./img/img_playAgain_h.jpg");
}

.tarot-playAgain.is-show {
  -webkit-animation: fade-in 1.5s ease forwards;
          animation: fade-in 1.5s ease forwards;
  cursor: pointer;
  pointer-events: visible;
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */