

@keyframes last
  0%
    left: 0px
    top: 65px
    transform: rotate(-39deg)
  50%
    top: -15px
  100%
    transform: rotate(39deg)
    left: 420px
    top: 70px


.poker
  position: absolute
  transform-origin: center bottom
  border-radius: 4px
  cursor: pointer
  opacity: 1
  transition: opacity 1s ease
  width: 80px
  height: 130px
  &.poker--back
    background-image: url('./img/img_poker_back.jpg')
    background-size: cover
    background-repeat: no-repeat
  &.is-hide
    opacity: 0
    pointer-events: none
.poker.poker-1
  transform: rotate(-39deg)
  left: 0px
  top: 70px
  &:hover
    left: -15px
    top: 50px
.poker.poker-2
  transform: rotate(-36deg)
  left: 20px
  top: 55px
  &:hover
    left: 5px
    top: 35px
.poker.poker-3
  transform: rotate(-32deg)
  left: 40px
  top: 45px
  &:hover
    left: 27px
    top: 25px
.poker.poker-4
  transform: rotate(-28deg)
  left: 60px
  top: 35px
  &:hover
    left: 50px
    top: 15px
.poker.poker-5
  transform: rotate(-24deg)
  left: 80px
  top: 25px
  &:hover
    left: 70px
    top: 5px
.poker.poker-6
  transform: rotate(-20deg)
  left: 100px
  top: 20px
  &:hover
    left: 90px
    top: 0px
.poker.poker-7
  transform: rotate(-16deg)
  left: 120px
  top: 15px
  &:hover
    left: 113px
    top: -5px
.poker.poker-8
  transform: rotate(-12deg)
  left: 140px
  top: 10px
  &:hover
    left: 133px
    top: -10px
.poker.poker-9
  transform: rotate(-8deg)
  left: 160px
  top: 6px
  &:hover
    left: 153px
    top: -14px
.poker.poker-10
  transform: rotate(-4deg)
  left: 180px
  top: 5px
  &:hover
    left: 173px
    top: -15px
.poker.poker-11
  transform: rotate(-1deg)
  left: 200px
  top: 3px
  &:hover
    left: 200px
    top: -17px
.poker.poker-12
  transform: rotate(1deg)
  left: 220px
  top: 3px
  &:hover
    left: 220px
    top: -17px
.poker.poker-13
  transform: rotate(4deg)
  left: 240px
  top: 5px
  &:hover
    left: 240px
    top: -15px
.poker.poker-14
  transform: rotate(8deg)
  left: 260px
  top: 6px
  &:hover
    left: 263px
    top: -14px
.poker.poker-15
  transform: rotate(12deg)
  left: 280px
  top: 10px
  &:hover
    left: 283px
    top: -10px
.poker.poker-16
  transform: rotate(16deg)
  left: 300px
  top: 15px
  &:hover
    left: 303px
    top: -5px
.poker.poker-17
  transform: rotate(20deg)
  left: 320px
  top: 20px
  &:hover
    left: 323px
    top: 0px
.poker.poker-18
  transform: rotate(24deg)
  left: 340px
  top: 25px
  &:hover
    left: 347px
    top: 5px
.poker.poker-19
  transform: rotate(28deg)
  left: 360px
  top: 35px
  &:hover
    left: 367px
    top: 15px
.poker.poker-20
  transform: rotate(32deg)
  left: 380px
  top: 45px
  &:hover
    left: 390px
    top: 25px
.poker.poker-21
  transform: rotate(36deg)
  left: 400px
  top: 55px
  &:hover
    left: 410px
    top: 35px
.poker.poker-22
  transform: rotate(39deg)
  left: 420px
  top: 70px
  &:hover
    left: 430px
    top: 55px
