div
  box-sizing: border-box
img
  max-width: 100%
  height: auto
body
  background-color: #000000

@import './poker.sass'

@keyframes fade-out
  0%
    opacity: 1
  100%
    display: none
    opacity: 0

@keyframes box-shadow-breathing
  0%
    box-shadow: 0px 0px 16px #c66fcb
  50%
    box-shadow: 0px 0px 18px #f7b90c
  100%
    box-shadow: 0px 0px 16px #c66fcb

@keyframes rule-appear
  0%
    transform: scale(0)
  100%
    transform: scale(1)
    opacity: 1

@keyframes rule-appear-reverse
  0%
    transform: scale(1)
    opacity: 1
  99%
    transform: scale(0)
    opacity: 0
  100%
    display: none

@keyframes angel-waving
  0%
    background-image: url('./img/img_angel.png')
  50%
    background-image: url('./img/img_angel_move.png')
  100%
    background-image: url('./img/img_angel.png')

@keyframes rotation
  0%
    transform: rotate(0)
  100%
    transform: rotate(360deg)

.wrapper
  width: 100%

.tarot-start
  width: 100%
  height: 100%
  display: flex
  flex-flow: column
  align-items: center
  margin-top: 80px
  background-color: #000
  &.is-hide
    display: none

.tarot-banner
  background-image: url('./img/img_tarot_banner.jpg')
  width: 278px
  height: 55px
  margin-bottom: 10px

.btn-start
  display: block
  background-image: url('./img/img_start.jpg')
  width: 224px
  height: 51px
  background-repeat: no-repeat
  cursor: pointer
  &:hover
    background-image: url('./img/img_start_h.jpg')

.tarotView
  position: relative
  background-image: url('./img/bg_content.jpg')
  width: 740px
  height: 530px
  padding: 50px 0 0 50px
  opacity: 0
  transition: opacity .6s ease
  background-size: contain
  background-repeat: no-repeat
  &.is-show
    opacity: 1

.tarotView-tool
  position: absolute
  right: 60px
  bottom: 30px
  display: flex
  justify-content: flex-end
  align-items: center

.tool-item
  width: 45px
  height: 30px
  background-repeat: no-repeat
  background-size: contain
  background-position: center
  cursor: pointer
  &.item--instruction
    background-image: url('./img/ico_instruction.png')
    &:hover
      background-image: url('./img/ico_instruction_h.png')
    &::before
      content: '牌陣解說'
      display: block
      width: 70px
      color: #787474
      margin-left: -60px
      margin-top: 6px
      font-family: cursive
      font-size: 15px
  &.item--gh
    // background-image: url('./img/ico_club.png')
    &:hover
      // background-image: url('./img/ico_club_h.png')
  &.item--fb
    width: 70px
    height: 20px
    // background-image: url('./img/ico_spades.png')
    // &::before
    //   content: 'FB分享'
    //   display: block
    //   width: 70px
    //   color: #787474
    //   margin-left: -60px
    //   margin-top: 6px
    //   font-family: cursive
    //   font-size: 15px
    // &:hover
    //   background-image: url('./img/ico_spades_h.png')

.angel
  position: absolute
  right: 29px
  top: 87px
  opacity: 0
  width: 330px
  height: 380px
  background-image: url('./img/img_angel.png')
  background-repeat: no-repeat
  background-size: contain
  transition: opacity 1.3s ease
  animation-dealy: 1.8s
  &.is-show
    animation: angel-waving 4s infinite
    opacity: 0.5

.tarot-rule
  width: 418px
  height: 256px
  background-image: url('./img/bg_play_rule.png')
  animation: rule-appear 1.5s ease forwards
  background-size: contain
  background-repeat: no-repeat
  position: absolute
  bottom: 80px
  left: 0
  right: 0
  margin: auto
  opacity: 0
  transform: scale(1)
  animation-delay: 1.5s
  z-index: 1
  &.is-hide
    animation: rule-appear-reverse 1s ease
    z-index: 0

.tarot-instruction
  position: absolute
  width: 426px
  height: 289px
  background-image: url('./img/img_instruction.png')
  background-size: contain
  background-repeat: no-repeat
  left: 0
  right: 0
  top: 0
  margin: auto
  bottom: 0
  opacity: 0
  transform: scale(0)
  z-index: 3
  transition: transform .6s ease, opacity .5s ease
  &.is-show
    transform: scale(1)
    opacity: 1
    cursor: pointer

.pokerWrap
  position: relative
  width: 80%
  margin: 0 auto
  &.is-hide
    animation: fade-out .5s .3s forwards linear

.fivePokersWrap
  position: relative
  transform: scale(0.68)
  transform-origin: right bottom
  transition: transform 1.2s ease
  transition-delay: 1.2s
  &::before
    content: ''
    opacity: 0
    transition: opacity 1.2s ease
    transition-delay: 2.2s
  &.is-scale
    transform: scale(1)
    &::before
      opacity: 1
      position: absolute
      left: -17%
      top: -12%
      content: ''
      background-image: url('./img/img_circles.png')
      width: 531px
      height: 531px
      background-size: cover
      background-repeat: no-repeat
      animation: rotation 60s linear infinite
      animation-delay: 2s
      opacity: 0.25
    .fivePokers
      pointer-events: visible

.fivePokers-row
  display: flex
  flex-flow: row wrap

.fivePokers-flip
  width: 100%
  height: 100%
  position: relative
  transition: transform 2s ease
  transform-style: preserve-3d

.fivePokers
  position: relative
  margin: 10px
  perspective: 1000px
  width: 80px
  height: 130px
  pointer-events: none
  &.is-flip .fivePokers-flip
    transform: rotateY(180deg)
  .is-scale &.is-highlight
    // box-shadow: 0px 0px 15px #f9f925  //fbf6e9 to f7b90c  beathing light
    animation: box-shadow-breathing 2s ease infinite

.fivePokers-front,
.fivePokers-back
  position: absolute
  backface-visibility: hidden

.fivePokers-front
  border-radius: 4px
  width: 100%
  height: 100%
  padding-top: 10px
  transform: rotateY(-180deg)
  background: linear-gradient(150deg, #866534, #6b5041, #866a47)
  border: 0.5px solid #614c41

  &.is-down
    transform: rotateY(-180deg) rotate(180deg)

.fivePokers-img
  display: block
  width: 80%
  height: 80%
  margin: 0 auto
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  opacity: .9
  &.is-down
    transform: rotate(180deg)
  @for $i from 0 through 21
    &.img-#{$i}
      background-image: url('./img/img_tarot_#{$i}.jpg')

.fivePokers-info
  display: flex
  flex-flow: row nowrap
  width: 80%
  justify-content: space-around
  margin: 4px auto
  border: 0.5px solid #422d18
  opacity: .9

.fivePokers-roman,
.fivePokers-name
  font-family: cursive
  font-size: 12px
  color: #c8c8c8
  text-align: center
  transform: scale(.8)
  line-height: 12px
  transform-origin: right


.fivePokers-roman
  flex: 1 0 auto

.fivePokers-name
  flex: 3 0 auto
  letter-spacing: 2px

.fivePokers-back
  // width: 80px
  // height: 130px
  // background-image: url('./img/img_poker_back.jpg')
  // background-size: cover
  // background-repeat: no-repeat

.tarotDesc
  position: absolute
  z-index: 2
  top: 80px
  left: 80px

.tarotDesc-view
  position: absolute
  width: 560px
  height: 365px
  background-color: transparent
  transform: scale(0)
  opacity: 0
  transition: transform .6s ease, opacity .6s ease
  background-size: 100% 100%
  cursor: pointer
  background-image: url('./img/bg_view.png')
  background-repeat: no-repeat
  padding: 40px 20px 50px
  display: flex
  justify-content: space-around
  &.is-open
    opacity: 1
    transform: scale(1)

.tarotDesc-row
  flex: 0 0 50%

.tarotDesc-img
  width: 100%
  height: 100%
  background-size: contain

.tarotDesc-enName
  font-size: 12px
  padding: 6px 0
  text-align: center
  font-family: fantasy
  opacity: .7
  font-weight: bold
  transform: scale(.8)
  white-space: nowrap
@media screen and (min-width: 681px)
  .tarotDesc-enName
    font-size: 16px
    transform: scale(1)


.tarotDesc-title
  text-align: center
  font-size: 20px
  display: flex
  justify-content: center
  padding: 0 0 10px
  font-family: cursive
  opacity: .8
  font-weight: 300

.tarotDesc-roman
  flex: 1 0 auto
.tarotDesc-name
  flex: 2 0 auto
  letter-spacing: 4px
.tarotDesc-side
  flex: 1 0 auto
  letter-spacing: 2px
  font-size: 14px
  line-height: 20px
  color: #6f1d1d

.tarotDesc-meaning
  width: 230px
  height: 65px
  background-size: cover
  @for $i from 0 through 21
    &.meaning--#{$i}
      background-image: url('./img/meaning/img_meaning_#{$i}.png')

.tarotDesc-span
  font-size: 20px
  margin-bottom: 10px
  padding-left: 6px
  font-family: cursive
  opacity: .57

// Translation
.tarotDesc-translation
  width: 240px
  min-height: 150px
  background-repeat: no-repeat
  background-size: contain
  margin-left: 6px
  @for $one from 0 through 4
    @for $two from 0 through 21
      @for $three from 0 through 1
        &.translation--#{$one}#{$two}#{$three}
          background-image: url('./img/define/#{$one}#{$two}#{$three}.png')

.tarot-playAgain
  opacity: 0
  position: absolute
  left: 70px
  right: 0
  bottom: 32px
  margin: auto
  width: 96px
  height: 25px
  background-image: url('./img/img_playAgain.jpg')
  background-size: cover
  background-repeat: no-repeat
  pointer-events: none
  transition: opacity 1.5s ease
  &:hover
    background-image: url('./img/img_playAgain_h.jpg')
  &.is-show
    animation: fade-in 1.5s ease forwards
    cursor: pointer
    pointer-events: visible
    opacity: 1